extends main_layout

block append head
  title Harp Editor - Contents

block body
  include _shared/nav
  include _shared/content_nav

  .container(style="margin-top:15px;")
    .row.hb-status-bar
      .col-sm-9.hb-status-col
        span Viewing all 
        b Site Pages
      .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
        a(href="#")
          i.glyphicon.glyphicon-plus.glyphicon-fw(style="margin-right:6px")
          a(href="/admin/content/new?path=/") New Top Level Page         

    .row
      .col-sm-12
        - var prevFP = [];
        each file, k in files
          - if (!isHidden(files[k]))
            - prevFP.push(reduceFilePart(files[k]))
            - if(prevFP.length == 3)
              - prevFP.shift()
              - if (prevFP[0] != prevFP[1])
                
                table.table.table-hover.table-bordered(style="margin-bottom:3px;float:right;width:#{100 - (nestDepth(files[k]) -1) * 3}%")
                  tr
                    td.table-main-col
                      span New File in: 
                        b #{fileToTitle(files[k])}
                    td
                      a.btn.btn-link(href="/admin/content/new?path=#{link(files[k])}") 
                        i.glyphicon.glyphicon-file.text-muted                  
                    
            table.table.table-hover.table-bordered(style="margin-bottom:3px;float:right;width:#{100 - (nestDepth(files[k]) -1) * 3}%")
              tr
                td.table-main-col
                  a(href="/admin/publish?path=#{files[k]}")= fileToTitle(files[k])
                  small.pull-right.hb-muted= files[k]
                td
                  form(method="post", action="/admin/content")
                    input(type="hidden", name="_method", value="delete")
                    input(type="hidden", name="file", value="#{files[k]}")
                    button.btn.btn-link
                      i.glyphicon.glyphicon-remove.text-muted
                td
                  a.btn.btn-link(href="#{link(files[k])}") 
                    i.glyphicon.glyphicon-link.text-muted