extends main_layout

block append head
  title Harp Editor - New Entry

block body
  include _shared/nav

  .container(style="margin-top:15px;")
    form.js-form.container(action="/admin/entry/new", method="post")
      .row.hb-status-bar
        .col-sm-9.hb-status-col
          span New Entry in 
          b= link(path)
        .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
          a(href="#")
            i.glyphicon.glyphicon-plus.glyphicon-fw(style="margin-right:6px")
            button.btn.btn-link Save Page

       - if (message)
          .row
            .col-sm-12
              p= message

      input(type="hidden", name="section", value="#{path}")

      .row
        .col-sm-12
          .form-group
            label Slug
            input.form-control(name="slug", value="")

      -for (var i = 0; i < fields.length; i++)
        -if (Object.keys(fields[i]) != "content")
          .row
            .col-sm-12
              .form-group
                -if (fields[i].label)
                  label #{fields[i].label}
                -else
                  label #{keyToTitle(fields[i].name)}
                - if (fields[i].type == "textarea")
                  textarea.form-control(name="#{fields[i].name}", rows="5" value="")
                - else if (fields[i].type == "text")
                  input.form-control(name="#{fields[i].name}", value="")
                - else if (fields[i].type == "date")
                  input.form-control(name="#{fields[i].name}", type="date", value="")


      -var showContent = true;
      -for (var i = 0; i < fields.length; i++)
        -if (Object.keys(fields[i]) == "content")
          showContent = false
          -if (fields[i].content === true)
            .row
              .col-sm-12
                label Entry Content
                input.js-content-hidden(type="hidden" name="content", value="")
                .editable.
          - else if(fields[i].content)
            showContent = false


      -if (showContent == true)
        .row
          .col-sm-12
            label Entry Content
            input.js-content-hidden(type="hidden" name="content", value="")
            .editable.


      button.btn.btn-primary.pull-right Save 

    script.
      $(function() {
        var editor = new MediumEditor('.editable');
        $(".js-form").submit(function( event ) {
          event.preventDefault();

          var contentObj = editor.serialize();
          console.log(contentObj)
          $(".js-content-hidden").val(contentObj['element-0'].value);
          this.submit();
          
        });
      });