extends main_layout

block append head
  title Harp Editor - List

block body
  include _shared/nav
  include _shared/content_nav

  .container(style="margin-top:15px;")
    .row.hb-status-bar
      .col-sm-9.hb-status-col
        span Viewing list 
        b= list
      .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
        a(href="/admin/entry/new?path=#{list}")
          i.glyphicon.glyphicon-plus.glyphicon-fw(style="margin-right:6px") 
          | New Entry

    .row
      table#hb-table.hb-table.table.table-hover
        //- Custom Headers provided in _data
        if (metaData['editor'] && metaData['editor'].table)
          thead
            tr
              -for (var i = 0; i < metaData['editor'].table.length; i++)
                th= keyToTitle(metaData['editor'].table[i])
              th View
          each obj, dataKey in metaData
            tbody
              if (obj.type != "metadata" && dataKey != "editor")
                tr
                  -for (var i = 0; i < metaData['editor'].table.length; i++)
                    - var column = metaData['editor'].table[i];
                    if (i == 0)
                      td: a(href="/admin/publish?path=")= obj[column]
                    else
                      td= obj[column]
                  td
                    a(href="#{listRoot}/#{link(dataKey)}") 
                      i.glyphicon.glyphicon-link.glyphicon-fw.hb-muted
        else
          //- Default headers
          thead
            tr
              th Title
              th View
          tbody
            each obj, dataKey in metaData
              if (obj.type != "page" && dataKey != "editor")
                tr
                  td: a(href="/admin/publish?path=/blog/#{dataKey}.md")= listTitle(dataKey, obj)
                  td
                    a(href="#{listRoot}/#{link(dataKey)}") 
                      i.glyphicon.glyphicon-link.glyphicon-fw.hb-muted
