extends ../main_layout

block append head
  title Harp Editor - Edit File

block body
  include ../_shared/nav

  .container(style="margin-top:15px;")
    form.js-form.container(action="/admin/publish", method="post")
      .row.hb-status-bar
        .col-sm-9.hb-status-col
          span Editing Page 
          b= link(file)
        .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
          a(href="#")
            i.glyphicon.glyphicon-plus.glyphicon-fw(style="margin-right:6px")
            button.btn.btn-link Save Page

      input(type="hidden", name="file", value="#{file}")
      .row
        .col-sm-12
          .form-group
            label Layout
            select(name="layout").form-control
              each layout, key in layouts
                - if (metaData.layout == layout.value)
                  option(value="#{layout.value}", selected='selected')= layout.name
                - else
                  option(value="#{layout.value}")= layout.name
      .row
        .col-sm-12
          .form-group
            label Slug
            input.form-control(name="slug", value="#{fileToSlug(file)}")

      hr

      .row
        .col-sm-12
          .form-group
            label Title
            input.hb-form-title.form-control(name="title", value="#{getTitle(metaData)}", placeholder="Title")

      .row
        .col-sm-12
          - if (extension(file) != "md")
            .form-group
              label Page Content
              textarea.js-content.hb-content.form-control(name="content", rows="24",style="white-space: pre-wrap") #{contents}
          - else
            input.js-content-hidden(type="hidden" name="content", value="")
            .editable.
              !{contents}
              !{JSON.stringify(contents, null, 2)}

          button.btn.btn-primary.pull-right Save 

    script.

      $(function() {
        var editor = new MediumEditor('.editable');
        $(".js-form").submit(function( event ) {
          event.preventDefault();

          if ($(".js-content").length != 0) {
            this.submit();
          } else {
            var contentObj = editor.serialize();
            $(".js-content-hidden").val(contentObj['element-0'].value);
            this.submit();
          }
        });
      });
